{
    "servers": [],
    "domain": "",
    "admin": {
        "user": "",
        "password": "",
        "ou": []
    },
    "blacklist": [],
    "ITUsers": [],
    "cookie": {
        "keys": [],
        "duration": 7200000
    },
    "smtp": {
        "host": "",
        "port": 465,
        "secure": true,
        "auth": {
            "user": "",
            "pass": ""
        },
        "mail": {
            "from": "\"Foo\" <foo@example.com>",
            "to": [],
            "subject": ""
        }
    }
}