{
    "servers": [],
    "domain": "",
    "admin": {
        "user": "",
        "password": "",
        "ou": []
    },
    "blacklist": [],
    "ITUsers": [],
    "cookie": {
        keys: [],
        duration: 7200000
    }
}